<div class="container">
    <span class="display-6 text-center">
        Dashboard | Users Activities
    </span>
    <div class="col-lg-8 mx-auto my-3">
        <%= render 'shared/activity_lists' %>
    </div>
</div>