<div class="p-5 m-4 mx-5 glass-background rounded-3">
    <div class="container-fluid py-5 text-center">
        <p class="display-5">Interact and learn</p>
        <hr>
        <p class="h3">Check other users and connect with them.</p>
    </div>
</div>